*/__Previews/*
*/History/*
*/Project Logs for*/*
*/Project Outputs for*/*
*/Debug/*
*/.launches/*
*/.settings/*
*/targetConfigs/*
*.cmd
*.ccsproject
*.cproject
*.project
**/.vscode/*
**/build_*
cube/Core/*
cube/Drivers/*
cube/EWARM/*
cube/.mxproject
pcb/*.htm
